CHAIR_API_KEY=<Key for Chair LLM API>
GOOGLE_API_KEY=<Key for Google LLM API>

POSTGRES_USER=<Username for PostgreSQL>
POSTGRES_PASSWORD=<Password for PostgreSQL>
POSTGRES_DB=<Name of the PostgreSQL database>

VITE_API_URL=<Base VITE_API_URL>